/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

/* Container for sidebar and details */
#species-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

/* Sidebar Styles */
#sidebar {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #2c2c2c;
    padding: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateX(100%); /* Initially out of view */
    opacity: 0;
    z-index: 3000; /* Ensure it appears above other content */
    border-radius: 8px;
}

#sidebar.visible {
    display: block; /* Make it visible when active */
    transform: translateX(0); /* Slide into view */
    opacity: 1;
}

/* Sidebar Item Styles */
#sidebar .sidebar-item {
    padding: 0.75rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    color: #ffffff;
}

#sidebar .sidebar-item:hover,
#sidebar .sidebar-item.active {
    background-color: #1e90ff;
}

/* Details Styles */
#details {
    background-color: #2c2c2c;
    margin: auto;
    padding: 1rem;
    border-radius: 8px;
    max-width: 800px;
    transition: margin-right 0.3s ease;
}

#details h2 {
    margin-top: 0;
    text-align: center;
}

#details p {
    margin: 0.5rem 0;
}

#details audio {
    width: 100%;
    margin-top: 1rem;
}

#details .association {
    font-weight: bold;
    margin-top: 1rem;
    color: #1e90ff;
}

#details .description,
#details .comments,
#details .months {
    margin: 1rem 0;
}

#details .sound-url {
    margin-top: 1rem;
}

#details .location {
    margin-top: 1rem;
    font-weight: bold;
    color: #1e90ff;
}

.location a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s;
}

.location a:hover {
    color: #3ba6ff;
    text-decoration: underline;
}

/* Toggle Button Styles */
#toggle-sidebar {
    cursor: pointer;
    margin: 20px 0px 0px 20px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}


/* Button Styles */
#close-sidebar {
    background: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}


#close-sidebar:hover {
    background-color: #555;
}
