body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding: 5px 2px;
    text-align: center;
    background: transparent;
    position: sticky;
    top: 0px;
    z-index: 2000;

}

.imagebg {
    background-image: url(places/bg.jpeg);
    display: flex;
    flex-direction: column;
    border-radius: 55px;
    margin: 0px 20px;
    box-shadow: 2px 2px 10px #232323, -2px -2px 5px #232323;
    background-position: center;
    background-size: cover;
}

header h1 {
    margin: 0;
    font-size: 1.2rem;
}

.head {
    background: transparent;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 50px;
    padding: 10px;
    overflow-x: hidden;
    margin: 0px;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
}

@media only screen and (max-width: 450px) {
    .head {
        font-size: 1rem;
        padding: 3vw;
        border-radius: 18px;
        flex-direction: column;
    }   

    .imagebg{
        border: none;
        border-radius: 18px;
    }
    nav a.navbutton {
        margin-top: 5px;
    }
}
nav {
    max-width: 98vw;
    display: flex;
    align-content: center;
    justify-content: center;
}

nav a {
    color: #ffffff;
    margin: 0 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

nav a.nav-button {
    background-color: #333;
    margin-top: 10px;
}

nav a.active,
nav a:hover {
    background-color: #1e90ff;
}

#map-container {
    margin: 0;
}

#map {
    height: 80vh;
    max-width: 1200px;
    margin: 0 auto;
}

footer {
    background-color: #1f1f1f;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Popup styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* Ensure popup is on top */
}

.popup-content {
    background: #2c2c2c;
    padding: 2rem;
    border-radius: 10px;
    max-width: 700px;
    text-align: left;
    overflow-y: auto;
    max-height: 80%;
}

.popup-content h2 {
    margin-top: 0;
    text-align: center;
}

.popup-content p {
    margin: 0.5rem 0;
}

#popup-close {
    display: block;
    background-color: #1e90ff;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 1rem auto 0;
    text-align: center;
}

#popup-close:hover {
    background-color: #3ba6ff;
}

/* Recordings page styles */
main .container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 0 1rem;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#recordings-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    list-style: none;
    padding: 0;
}

.bird-item {
    background-color: #333;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 15px;
    transition: background-color 0.3s, border-color 0.3s;
}

.bird-item:hover {
    background-color: #2b2b2b;
    border-color: #444;
}

.bird-item a {
    color: #cccccc;
    margin-left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bird-item a:hover {
    color: #ffffff;
}

.filter-options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 5vw;
}

.filter-options button {
    margin: 10px;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #1e90ff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.filter-options button:hover {
    background-color: #0073e6;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: #1f1f1f;
}

#trackSelect {
    width: 70vw;
    padding: 2px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #bbb;
    font-size: 16px;
    color: #010101;
}

#description {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

/* Card styles */
.card-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    position: relative;
    background-color: #484848;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    height: 300px;
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.card-link {
    font-size: medium;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.card-link:hover {
    text-decoration: underline;
}

.info-button-text {
    cursor: pointer;
    margin-left: 10px;
    font-size: medium;
    padding: 0%;
    background-color: #484848;
    border: none;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.info-button-text:hover {
    text-decoration: underline;
}

.speciesdiv {
    width: 250px;
    max-height: 50vh;
    overflow-y: auto;
}
.species-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.speciesli {
    width: 90%;
    cursor: pointer;
    background-color: #333;
    margin: 6px;
    padding: 6px;
    border-radius: 20px;
    color: #ffffff;
    list-style-type: none;
    overflow: hidden;
}

#backButton {
    background-color: #7a7a7a;
    border-radius: 20px;
    border: none;
    padding: 8px 13px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
}

.species-button {
    background-color: #404040;
    border-radius: 20px;
    border: none;
    padding: 8px 13px;
    color: #ffffff;
    cursor: pointer;
}

.SpeciesInfo {
    max-height: 70vh;
    overflow-y: auto;
}

.load-sound-btn {
    background-color: #5d5d5d;
    border-radius: 20px;
    padding: 8px 13px;
    border: none;
    color: #ddd;
    cursor: pointer;
    margin-bottom: 10px;
}

.searchdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#search-input {
    background-color: #2c2c2c;
    width: 50vw;
    margin-right: 10px;
    padding: 10px;
    border-radius: 20px;
    border: 2px solid #4d4d4d;
    color: #b3b3b3;
}

#search-button {
    background-color: #2c2c2c;
    border-radius: 20px;
    padding: 10px;
    border: 2px solid #4d4d4d;
    color: #b0b0b0;
    font-weight: 600;
    cursor: pointer;
}
#search-button:hover {
    background-color: #222222;
}

#filter-association {
    width: 25vw;
    padding: 2px;
    border: 2px solid #000000;
    border-radius: 5px;
    background-color: #bbb;
    font-size: 16px;
    color: #010101;
}

#filter-association option {
    padding: 5px;
}

.filtersdiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filterselectdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.placediv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.placepopup {
    margin-bottom: 20px;
}

.specieslink {
    color: #ffffff !important;
    text-decoration: none;
    background-color: #7a7a7a;
    padding: 10px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.specieslink:hover {
    background-color: #5d5d5d;
}