body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 50px;
    padding: 12px 30px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    position: sticky;
    top: 8px;
    left: 0px;
    z-index: 50001;
    background: #000000;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
   
}


header h1 {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}

/* Default hidden menu icon */
#menu-icon {
    display: none;
    font-size: 30px;
    margin: auto 0;
    cursor: pointer;
    color: white;
}

#menu {
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: color .2s ease-out;
}

#menu:hover {
    text-decoration: none;
    color: #ff6a00;
}

/* Side Menu */
#side-menu {
    width: 0;
    border-radius: 0px 0px 20px 20px;
    margin: 10px auto;
    display: none;
    position: fixed;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50000;
    background: transparent;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px #343434;
    transition: .5s;
}

.side-menu-links {
    padding: 8px 12px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu-links.active {
    color: #ff6a00;
}

.side-menu-links:hover {
    color: #ff6a00;
    text-decoration: none;
}

#side-menu a:first-child {
    margin-top: 10px;
}

#changelangside {
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #585858;
    padding: 8px 5px;
}


/* Responsive styles */
@media screen and (max-width: 850px) {
    
    nav#main-nav {
        display: none;
    }
    
    #menu-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 88vw;
        padding: 10px 20px;
        text-align: center;
        border-radius: 50px;
        margin: auto;
        margin-bottom: 10px !important;
        background: transparent;
        position: sticky;
        top: 10px;
        z-index: 50001;
        background: transparent;
        background: rgba(0, 0, 0, 0.7);
        backdrop-filter: blur(10px);
        box-shadow: 0px 0px 20px #343434;
    }
    
    
    .notification {
        left: 50%;
        transform: translateX(-50%);
        max-width: 20px;
        max-width: none;
    }
}

@media screen and (min-width: 851px) {
    #side-menu {
        display: none !important;
        width: 0 !important;
    }
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.2vw !important;
}

nav a {
    color: #999;
    text-decoration: none;
    font-size: 20px;
    padding: 8px 8px;
    border-radius: 5px;
    transition: color 0.3s;
    transform: translatey(-1px);
    text-wrap: nowrap;
}


nav a.active,
nav a:hover {
    color: #ff6a00;
}

nav a:hover {
    text-decoration: underline;
}

#changelang {
    color: #999;
    text-decoration: underline;
    font-size: 20px;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: color 0.3s;
    transform: translatey(-1px);
    cursor: pointer;
}

#changelang:hover {
    color: #ff6a00;
}

.notification {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 100000;
    opacity: 1;
    transition: opacity 0.6s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 80vw;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.warning {
    background-color: #ff9800;
}

footer {
    background-color: #1f1f1f;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
