body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    color: #ffffff;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    height: 50px;
    padding: 12px 30px;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    position: sticky;
    top: 8px;
    left: 0px;
    z-index: 50001;
    background: #000000b1;
    box-shadow: 0px 0px 20px #85858564 inset;
    border: 2px solid #58575782;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


header h1 {
    margin: 0;
    font-size: clamp(10px, 5vw, 20px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
}


/* Burger Menu Styles */
#menu-icon {
    -webkit-tap-highlight-color: transparent;
}

.burger-menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    width: 30px;
    height: 26px;
    position: relative;
    transform: scale(90%) translateY(1.5px);
    -webkit-tap-highlight-color: transparent;
}

.burger-menu:hover {
    background-color: unset;
    text-decoration: none
}

.burger-menu span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger-menu.open span {
    background-color: #ff6a00;
    height: 4px;
}

.burger-menu span:nth-child(1) {
    top: 0px;
}

.burger-menu span:nth-child(2) {
    top: 10px;
}

.burger-menu span:nth-child(3) {
    top: 20px;
}

.burger-menu.open span:nth-child(1) {
    top: 10px;
    transform: rotate(45deg);
}

.burger-menu.open span:nth-child(2) {
    opacity: 0;
    
}

.burger-menu.open span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
}

@media screen and (min-width: 1001px) {

    .burger-menu {
        display: none;
    }
}


/* Side Menu */
#side-menu {
    border-radius: 0px 0px 20px 20px;
    margin: 10px auto;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 60px;
    left: 50%;
    width: 90vw;
    height: 0; 
    max-height: calc(100vh - 80px);
    transform: translateX(-50%);
    z-index: 50000;
    background: #000000b1;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 5px #343434;
    overflow: scroll;
    transition: height 0.3s ease-out;
}



.side-menu-links {
    padding: 8px 12px;
    margin: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: all 0.3s;
    border: 1px solid #ffffff28;
    box-shadow: 0px 0px 20px #3737378f inset;
}

.side-menu-links.active {
    color: #ff6a00;
    box-shadow: 0px 0px 10px #ff7a27 inset;
}

.side-menu-links:hover {
    color: #ff6a00;
    text-decoration: none;
    box-shadow: 0px 0px 10px #ff7a27 inset;
}

#side-menu a:first-child {
    margin-top: 20px;
}

#side-menu a:nth-child(5) {
    margin-bottom: 10px;
}

#changelangside {
    position: fixed;
    top: 16px;
    right: 20px;
    cursor: pointer;
    color: #585858;
    padding: 10px 13px;
    font-size: 28px;
    transform: scale(100%);
    transition: all .2s;
}

#changelangside:hover {
    transform: scale(112%);
    text-decoration: none;
}


/* Responsive styles */
@media screen and (max-width: 1000px) {
    
    nav#main-nav {
        display: none;
    }
    
    #menu-icon {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    header {
        height: 50px;
        width: 88vw;
        padding: 10px 20px;
        text-align: center;
        border-radius: 50px;
        margin: auto;
        margin-bottom: 10px !important;
    }
    
    
    .notification {
        left: 50%;
        transform: translateX(-50%);
        max-width: 20px;
        max-width: none;
    }
}

@media screen and (min-width: 1001px) {
    #side-menu {
        display: none !important;
    }
    
    #menu-icon {
        display: none;
    }
}

nav {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 10px;
}

nav a {
    width: min-content;
    color: #999;
    text-decoration: none;
    font-size: 1.5vw;
    padding: 10px 15px;
    border-radius: 16px;
    transition: all 0.3s;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    border: 1px solid #ffffff33;
    box-shadow: 0px 0px 10px #4d4d4d9d inset;
}


nav a.active,
nav a:hover {
    color: #ff6a00;
    box-shadow: 0px 0px 10px #ff7a27 inset;
}

nav a:hover {
    text-decoration: underline;
}



.notification {
    position: fixed;
    bottom: 50px;
    right: 20px;
    background-color: #f44336;
    color: white;
    padding: 15px 20px;
    border-radius: 5px;
    z-index: 100000;
    opacity: 1;
    transition: opacity 0.6s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 80vw;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.warning {
    background-color: #ff9800;
}

footer {
    background-color: #1f1f1f;
    padding: 1rem 0;
    text-align: center;
}

footer .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
